$links-head: #3f3a64;
$search-head: #20ad96;
$input-bkg: #f5f5f5;
$over-title: #696969;
$titles: #333333;
$paragraphs: #6e7577;
$link-underline: #e0e0e0;
$circle: #ecc5ab;
$cards-icon: #9a97ad;
$free: #ee7455;
